<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common::header">
</head>
<body>
<form class="layui-form " method="post">
    <input type="hidden" name="id" th:if="${item}" th:attr="value=${item.id}">

    <div class="layui-form-item  on-selected">
        <label class="layui-form-label layui-input-required">名称</label>
        <div class="layui-input-block" style="width:50%">
            <input type="text" name="name"  th:attr="value=${item} ? ${item.name}:''" lay-verify="required" autocomplete="off" class="layui-input form-item">
        </div>
    </div>


    <div class="layui-form-item ">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<div th:include="/common::footer"></div>
<div th:include="/common::formJs"></div>
</body>
</html>


