<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common::header">
</head>
<body>
<blockquote class="layui-elem-quote quoteBox">
    <form class="layui-form">
        <div class="layui-inline">
            <a class="layui-btn btn-add btn-default layer-open"  w="500px" h="400px"  title="添加" data-url="/info_cate/add"><i class="layui-icon">&#xe654;</i>添加</a>
            <a class="layui-btn btn-add btn-default " onclick="location.reload()"><i class="layui-icon">&#x1002;</i>刷新</a>
        </div>


    </form>
</blockquote>

<table class="layui-table">
    <thead>
    <tr class="table-head ">
        <th width="30">ID</th>
        <th>名称</th>
        <th width="200">创建时间</th>
        <th width="200">操作</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="item: ${page.content}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.createTime}"></td>
        <td>
            <a class="layui-btn  layui-btn-sm layer-open" w="500px" h="400px"  th:attr="data-url='/info_cate/add?id='+ ${item.id}">编辑</a>
            <a class="layui-btn layui-btn-sm layui-btn-danger delete"  th:attr="data-url='/info_cate/del?id='+ ${item.id}">删除</a>
        </td>
    </tr>

    </tbody>
</table>
<div class="adminui-page" id="page" th:attr="count=${page.totalElements}"></div>



<div th:include="/common::footer"></div>
</body>
</html>


<script type="text/javascript">
    layui.use(['list'], function(){

    });

</script>

